*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: #f2f2f2;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.container{
    width: 100%;
    max-width: 350px;
    text-align: center;
    padding: 25px;
    border-radius: 12px;
    background-color: white;
}
input,button{
    width: 100%;
    padding: 6px;
    margin-top: 10px;
    border-radius: 6px;
}
button{
    background-color: green;
    color: white;
    font-size: 24px;
    border: none;
}
a{
    display: block;
    text-decoration: none;
    margin-top: 5px;
}
a:hover{
    text-decoration: underline;
}
input:focus{
    outline: none;
    border-color: blue ;
}